@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: .8rem;
  }
  .form-group input{
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 4px;
  }
  .form-group label{
    margin-bottom: 0.5rem;
  }

}
